<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (!user) { %>
      <h1>
        Welcome to the website! Please <a href="/log-in">log-in</a> or <a href="/sign-up">sign up</a> to send messages
      </h1>
    <% } else { %>
      <h1>Welcome <%= user.first_name %>!</h1>
    <% } %>

    <div>messages will be displayed here:</div>
  </body>
</html>
