<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Secret</h1>
    <form method="POST" style="width: 200px; display: flex; flex-direction: column">
      <label for="secret">Secret</label>
      <input id="secret" name="secret" placeholder="secret" type="text" />

      <button type="submit">Send</button>
    </form>
  </body>
</html>
